/* ============================== Global ============================== */
body {
  margin: 0;
  font: 100%/1.7 Arial, Verdana, Helvetica, sans-serif, "Times New Roman";
  background: #e5e5e5;
}

.container {
  width: 75vw;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

a {
  text-decoration: none;
}
ul {
  padding: 0;
}
/* ============================== Header ============================= */
header {
  background: #333;
  min-height: 100vh;
  padding-top: 1vw;
  display: block;
  position: relative;
  z-index: 0;
}

header:after {
  content: "";
  background: url("img/header.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0; left: 0; bottom: 0; right: 0;
  position: absolute;
  z-index: -1;
}

header #logo {
  display: inline-block;
  border: 5px solid #7C88B4;
  border-radius: 15px;
  color: #FFFFFF;
  transition: all .3s ease-in-out;
  font-weight: bolder;
  padding: 10px;
}

header #logo:hover{
border: 5px solid #5A6692;
color: #DDD;
background: #111;
}

header h1 {
  color: #fff;
  font-size: 150%;
}
#see-more{
  bottom: 2.5%;
  display: inline-block;
  font-size: 135%;
  font-weight: bold;
  left: 50%;
  position: absolute;
  white-space: nowrap;
  /* centering */
  transform: translateX(-50%);
}

#see-more a {
    color: #7C88B4;
    transition: all .3s ease-in-out;
    text-decoration: none;
}

#see-more a:hover {
  color: white;
}

/* ============================== Expertise ============================== */
#expertise {
  margin-bottom: 4vw;
}

#expertise h2 {
  border-bottom: 3px solid #7C88B4;
  margin-bottom: 4vw;
}

.expertise__container {
  display: flex;
  justify-content: space-between;

  color: #111;
}

.expertise__item {
  width: 20vw;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, .3);

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #eee;;

  padding: 0 1vw;
}

.expertise__img {
  margin-top: 5vw;
  font-size: 75px;
  background-image: linear-gradient(to right, #7C88B4, rgb(20, 37, 97));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.expertise__header {
  text-transform: uppercase;
  flex: 1;
}

.expertise__body {
  text-align: left;
  margin-bottom: 5vw;
}

.expertise__body > * {
  list-style: none;
}

/* ============================== Portfolio ============================== */

#portfolio {
  background: #333;
  color: white;
}

#portfolio h2 {
  border-bottom: 3px solid #7C88B4;
}

#portfolio h3, #portfolio p {
  display: block;
  margin: 0 auto;
  width: 300px;
  text-align: center;
}

#portfolio li {
  display: inline-block;
  list-style: none;
  padding: 15px;
  vertical-align: top;  
}

#portfolio li img {
  transition: all .3s ease-in-out;
  width: 300px;
  opacity: .7;
  border: 1px solid #7C88B4;
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0,0,0, .6);
}

#portfolio li img:hover {
  opacity: 1;
  transform: scale(1.05);
}

/* ================================== Contact =================================*/
#contact h2{
    border-bottom: 3px solid white;
    margin: 0;
    padding-top: 1.5vw;
}
#contact {
  background: #7C88B4;
  color: #333;
}

#contact p {
  padding: 3.5vw 0;
}

/* ============================== Footer ============================== */
footer {
  background: black;
  color: white;
  padding: 5vw 0;
}

/* =========================== Social Links Styling ==========================*/
footer a {
  text-decoration: none;
}
.footer__link {
  transition: all .3s ease-in-out;
  padding: 2.5vw 1vw 1vw 0;
  color: #7C88B4;
}
.footer__link:hover{
  color: #fff;
}

/* ============================== Media queries ==============================*/
@media (min-width: 768px) {

  header h1 {
    font-size: 200%;
  }

  #see-more {
    font-size: 175%;
  }

  #expertise p, #expertise li{
    font-size: 100%;
  }

}

@media (min-width: 1400px){
  html{
    font-size: 125%;
  }
}

@media (max-width: 1000px) {
  .expertise__item {
    width: 22vw;
  }
}

@media (max-width: 800px) {
  .expertise__container {
    flex-direction: column;
    align-items: center;
  }

  .expertise__item {
    width: 50vw;
  }

  .expertise__item:not(:last-child) {
    margin-bottom: 4vw;
  }
}

@media (max-width: 500px) {

  .container {
    width: 95vw;
  }

  .expertise__item {
    width: 75vw;
  }

  #portfolio h3, #portfolio p , #portfolio li img{
    width: 250px;
  }
}

